<div class="treatment-form">
    <div class="form-group">
        <label>Description</label>
        <textarea name="traitement_description" rows="2"></textarea>
    </div>
    <div class="form-group">
        <label>Médicament</label>
        <input type="text" name="traitement_medicament">
    </div>
    <div class="form-group">
        <label>Posologie</label>
        <input type="text" name="traitement_posologie">
    </div>
    <div class="form-group">
        <label>Durée</label>
        <input type="text" name="traitement_duree">
    </div>
</div>